{% extends 'base.html' %} {% block title %}
<title>new Item</title>
{% endblock %} {% block body %}
<div class="container">
  <div class="row">
    <h1>
      <form method="post">
        <input
          type="text"
          class="form-control mt-2"
          name="title"
          id="title"
          placeholder="Наименование"
        />
        <input
          type="number"
          class="form-control mt-2"
          name="price"
          id="price"
          placeholder="Цена"
        />
        <button class="btn btn-success" type="submit">Enter Item</button>
      </form>
    </h1>
  </div>
</div>
{% endblock %}
